[Unit]
Description=Configure system for current user
Wants=network-online.target
After=network-online.target bootc-system-setup.service
Requires=bootc-system-setup.service
#ConditionUser=!@system

[Service]
Type=oneshot
User=%i
ExecStart=/usr/libexec/user-setup %i
RemainAfterExit=yes

[Install]
#WantedBy=graphical-session.target
WantedBy=multi-user.target
