[Unit]
Description=Configure system
#After=rpm-ostreed.service
#Before=systemd-user-sessions.service
Wants=network-online.target
After=network-online.target systemd-sysusers.service systemd-tmpfiles-setup.service setup-tmpfiles.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/system-setup
User=root
RemainAfterExit=yes
Environment=TARGET_USER=caspertdk

[Install]
WantedBy=multi-user.target