# https://pinggy.io/docs/run_tunnel_on_startup/linux/
[Unit]
Description=Pinggy Tunnel Startup
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
#ExecStartPre=/usr/bin/bash -c 'for i in {1..30}; do getent ahostsv4 free.pinggy.io >/dev/null 2>&1 && exit 0; sleep 2; done; exit 1'
EnvironmentFile=/etc/homeserver/metadata/pinggy
ExecStart=/usr/libexec/pinggy.sh
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
