[Unit]
Description=Virtual framebuffer X server
After=network.target

[Service]
Type=simple
ExecStartPre=/usr/bin/rm -f /tmp/.X99-lock
ExecStartPre=/usr/bin/mkdir -p /tmp/.X11-unix
ExecStartPre=/usr/bin/chmod 1777 /tmp/.X11-unix
ExecStart=/usr/bin/Xvfb :99 -screen 0 1024x768x24 -nolisten tcp -ac
#ExecStart=/usr/libexec/virtualbuffer.sh
Environment=DISPLAY=:99.0
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target