[Unit]
Description=Demo HTTPS backend (internal.service.local) via Caddy
Wants=network-online.target caddy-config.service
After=network-online.target caddy-config.service

[Container]
Image=docker.io/library/caddy:2@sha256:df7f1c2fb114453b951de51a98efc010db1655a92c2e86be6706714e2417a78d
PublishPort=8443:8443
AutoUpdate=registry

# Non-root inside the container
User=65532:65532

# Config (read-only) + SELinux relabel
Volume=/etc/caddy-demo:/etc/caddy:Z,ro
# Persistent writable state for Caddy (/data)
Volume=/var/lib/caddy-demo:/data:Z
# Config data
Volume=/var/lib/caddy-demo/config:/config:Z


ReadOnly=true

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
