[Unit]
Description=Hosted (web)terminal
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/kasmweb/terminal:1.19.0@sha256:743cb2da5b300e8e5ee36a271a423202966ad4aef6dd0567ebcb0de1f8db14e3
Network=host
PublishPort=6901:6901

Environment=VNC_PW=password

[Service]
Restart=always

[Install]
WantedBy=multi-user.target