name: Create homeserver bootable container image

on:
  workflow_dispatch:
    inputs:
      type:
        type: choice
        description: 'Type of image to build.'
        options:
          - iso
          - raw
          - qcow2
          - vmdk
          - vdh
        required: false
        default: 'iso'
      image_name:
        description: "Image name to build"
        type: choice
        required: true
        options:
          - homeserver-centos-bootc
          - github-runner-bootc
          - homeserver-gui-bootc
          - jumphost-bootc
          - httpsproxy-bootc
        default: homeserver-centos-bootc
      context:
        description: "Build context (path)"
        type: string
        required: true
        default: "."
      tag:
        description: "Image tag"
        type: string
        required: true
        default: "latest"
      configfile:
        description: "Which config file to use"
        type: choice
        required: true
        options:
          - config.toml
          - config-interactive.toml
        default: config.toml

jobs:
  create-image:
    name: Build ${{ inputs.type }} image
    #runs-on: ubuntu-latest
    runs-on: ${{ inputs.image_name == 'homeserver-gui-bootc' && 'arc-ubuntu' || 'ubuntu-latest' }}
    environment: dev
    permissions:
      contents: read
      packages: write

    steps:
      - name: Clone the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Delete huge unnecessary tools folder
        run: |
          rm -rf /opt/hostedtoolcache

      - name: Configure rootful Podman storage
        shell: bash
        run: | #sh
          #
          sudo mkdir -p /etc/containers
          sudo mkdir -p /var/lib/containers/storage
          echo -e "[storage]\ndriver = \"overlay\"\nrunroot = \"/run/containers/storage\"\ngraphroot = \"/var/lib/containers/storage\"" \
            | sudo tee /etc/containers/storage.conf

          DB=/var/lib/containers/storage/db.sql
          sudo rm -f $DB
          sudo podman system migrate
  
          # workaround https://github.com/containers/podman/issues/21683
          if sudo test -f "$DB" && sudo sqlite3 "$DB" '.schema DBConfig' >/dev/null 2>&1; then
            # set GraphDriver if blank
            sudo sqlite3 "$DB" \
              "update DBConfig set GraphDriver='overlay' where GraphDriver='';"
          fi

      - name: Log in to the Container registry
        uses: redhat-actions/podman-login@4934294ad0449894bcd1e9f191899d7292469603 # v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Make registry credentials available for sudo
        shell: bash
        run: |
          sudo mkdir -p /root/.config/containers
          sudo cp /run/user/1001/containers/auth.json /root/.config/containers/auth.json

      - name: Create image
        id: create-image
        uses: ublue-os/bootc-image-builder-action@main
        with:
          config-file: ${{ inputs.context }}/${{ inputs.configfile }}
          type: ${{ inputs.type }}
          rootfs: xfs
          image: ghcr.io/${{ github.repository }}/${{ inputs.image_name }}:${{ inputs.tag }}

      - name: Rename output
        shell: bash
        env:
          SOURCE_DIR: ${{ steps.create-image.outputs.output-directory }}
          FILENAME: ${{ inputs.image_name }}-${{ inputs.tag }}.${{ inputs.type }}
        run: |
          mv ${{ steps.create-image.outputs.output-path }} $SOURCE_DIR/$FILENAME

      - name: Install azcopy
        run: |
          mkdir -p $HOME/tools/azcopy
          wget -qO- https://aka.ms/downloadazcopy-v10-linux | tar -xz -C $HOME/tools/azcopy --strip-components=1
          echo "$HOME/tools/azcopy" >> $GITHUB_PATH
          curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash

      # https://learn.microsoft.com/en-us/cli/azure/storage/blob?view=azure-cli-latest#az-storage-blob-upload
      - name: Upload with access key
        env:
          AZCOPY_ACCOUNT_KEY: ${{ secrets.AZURE_STORAGE_KEY }}
          AZCOPY_ACCOUNT_NAME: krusobackup
          SOURCE_DIR: ${{ steps.create-image.outputs.output-directory }}
          FILENAME: ${{ inputs.image_name }}-${{ inputs.tag }}.${{ inputs.type }}
          AZURE_STORAGE_CONNECTION_STRING: ${{ secrets.AZURE_STORAGE_CONNECTIONSTRING }}
        run: |
          az storage blob upload \
            --account-name $AZCOPY_ACCOUNT_NAME --account-key $AZCOPY_ACCOUNT_KEY \
            --connection-string $AZURE_STORAGE_CONNECTION_STRING \
            --container-name homeserver \
            --file $SOURCE_DIR/$FILENAME --name $FILENAME \
            --overwrite true
