name: Build and Push Hello Image

on:
  push:
    branches: [ main ]
    paths:
      - "hello.containerfile"
      - ".github/workflows/push-hello-containerfile.yaml"
  workflow_dispatch:

jobs:
  build:
    name: Build and Push Hello Image
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      id-token: write
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
      attestations: write

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels)
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}/hello
          tags: |
            # set latest tag for default branch
            type=ref,event=branch
            type=ref,event=pr
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Build and push image
        uses: docker/build-push-action@v6
        id: push-latest
        with:
          context: .
          file: ./hello.containerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Install Cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0

      - name: Sign container image
        run: | #sh
          export COSIGN_REPOSITORY=${{ env.COSIGN_REPOSITORY }}
          cosign sign -y --key env://COSIGN_PRIVATE_KEY ghcr.io/${{ github.repository }}/hello@${{ env.DIGEST }} # --registry-username='${{ github.actor }}' --registry-token='${{ secrets.GITHUB_TOKEN }}'
        env:
          DIGEST: ${{ steps.push-latest.outputs.digest }}
          COSIGN_EXPERIMENTAL: true
          COSIGN_PRIVATE_KEY: ${{ secrets.SIGNING_SECRET }}
          COSIGN_PASSWORD: ""
          COSIGN_REPOSITORY: ghcr.io/${{ github.repository_owner }}/${{ github.repository }}/hello.sigstore

      - name: Attach build provenance attestation
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3
        with:
          subject-name: "ghcr.io/${{ github.repository }}/hello"
          subject-digest: ${{ steps.push-latest.outputs.digest }}
          push-to-registry: true
