name: Renovate
permissions:
  contents: read
on:
  workflow_dispatch:
  schedule:
    - cron: "0 */2 * * *" # workflows runs every 2 hours
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@8cb0d4a6ab7d8bb90460a005f7bd33b80dd07ca8 # v44.2.5
        with:
          token: ${{ secrets.PAT_RENOVATEBOT }}
          configurationFile: .github/workflows/renovate-config.js
        env:
          RENOVATE_PAT_TOKEN: '${{ secrets.PAT_RENOVATEBOT }}'
          RENOVATE_PLATFORM_COMMIT: 'true'
          RENOVATE_X_GITHUB_HOST_RULES: 'true'
          LOG_LEVEL: debug
