name: Renovate
permissions:
  contents: read
on:
  workflow_dispatch:
  schedule:
    - cron: "0 */2 * * *" # workflows runs every 2 hours
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@5712c6a41dea6cdf32c72d92a763bd417e6606aa # v44.0.5
        with:
          token: ${{ secrets.PAT_RENOVATEBOT }}
          configurationFile: .github/workflows/renovate-config.js
        env:
          RENOVATE_PAT_TOKEN: '${{ secrets.PAT_RENOVATEBOT }}'
          RENOVATE_PLATFORM_COMMIT: 'true'
          RENOVATE_X_GITHUB_HOST_RULES: 'true'
          LOG_LEVEL: debug
